http://localhost {
    redir https://localhost{uri} permanent
}

https://localhost {
    encode zstd gzip
    reverse_proxy bankcards-app:8080
    tls internal
    log {
        output stdout
        format console
    }
}
